[submodule "externals/libserial"]
	path = externals/libserial
	url = https://github.com/Derecho/libserial.git
[submodule "externals/tools"]
	path = externals/tools
	url = https://github.com/raspberrypi/tools.git
[submodule "externals/alsa-lib"]
	path = externals/alsa-lib
	url = http://git.alsa-project.org/http/alsa-lib.git
